.background-green{
    background-color: #659DBD;
    /* margin-bottom: -5px;
    margin-top: -5px;
    padding-bottom: 0;
    padding-top: 0;
    padding: 0 */


    


}
#reloadText{
    color: red
}
.parks{
    border-style:solid;
     border-color:#D3D3D3;
      padding: 1em;
}
.activities{
    border-style:solid;
     border-color:#D3D3D3;
      padding: 1em;
}
.button{

    margin:10px
}