.background-green
{
    background-color: #659DBD;
}
#reloadText
{
    color: red
}
.parks
{
    border-style:solid;
     border-color:#D3D3D3;
      padding: 1em;
}
.activities
{
    border-style:solid;
     border-color:#D3D3D3;
      padding: 1em;
}
.button
{
    margin:10px
}
.tileTitle
{
    font-family: "Georgia, 'Times New Roman', Times, serif";
}
.descriptionText
{
    text-align: left;
}
.imageTile
{
    border-style:solid;
    border-color:#D3D3D3;
     padding: 1em;
}
p{
    font-family: "Georgia, 'Times New Roman', Times, serif";
}
.detailsContent
{
    border-style:solid;
    border-color:#D3D3D3;
    padding: 1em;
}